<!DOCTYPE html>
<html>
<body>
    <title>Third Project</title>
    <meta charset="utf-8">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>

    <script type="text/javascript">
        var app = angular.module('proj3', []);

        app.controller('LoadingCTRL', ['$scope', '$http', '$interval',function($scope, $http, $interval) {
            $scope.DataButton = function() {
                $scope.countries = [];
                for(i=1;i<101;i++){
                    $http.get('/proj3/'+i).success(function(data) {
                        $scope.rank = parseFloat(data[0]);
                        $scope.country = data[1];
                        $scope.countries.push({ "rank": $scope.rank, "country": $scope.country });
                        $scope.rank = "";
                        $scope.country = "";
                        console.log (data)
                    });
                }
            };
        }]);
    </script>

    <div ng-app="proj3">
        <div ng-controller="LoadingCTRL">
            <button ng-click="DataButton()">Get Data</button>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Country</th>
                </tr>
                <tr ng-repeat="x in countries | orderBy:'rank'">
                    <td>{{x.rank | number}}</td>
                    <td>{{x.country}}</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>